@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
  font-size: 18px;
}

.filtering {
  @apply transition-colors hover:text-[hsl(235,19%,35%)] dark:hover:text-[hsl(234,39%,85%)];
}

.todo-checkbox:hover {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, #567de6, #823cd0) border-box;
  transition: all 150ms;
}

.dark .todo-checkbox:hover {
  border: 1px solid transparent;
  background:
    linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%)) padding-box,
    linear-gradient(to bottom right, #567de6, #823cd0) border-box;
  transition: all 150ms;
}

.checked-checkbox:hover,
.dark .checked-checkbox:hover {
  @apply border-none bg-gradient-with-check bg-center bg-no-repeat transition-none;
}
